:root {
  --orange-color: #ffa500;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Segoe UI", sans-serif;
  border: none;
  outline: none;
  transition: all 0.3 ease;
}
html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
*::selection {
  background: var(--orange-color);
  color: white;
}
.btn {
  background: var(--orange-color);
  color: white;
  cursor: pointer;
  padding: 7px 17px;
  font-size: 21px;
  border: 2px solid var(--orange-color);
}
.btn:hover {
  background: transparent;
  color: var(--orange-color);
}